body {
    font-family: 'segoe UI', sans-serif;
    background: linear-gradient(135deg, #f0f4f8, #cbd5e1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background: linear-gradient(135deg, #1f2937, #4b5563);
    color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
}
h1 {
    margin-bottom: 1rem;
}
input {
    padding: 0.7rem;
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}
button {
    padding: 0.7rem;
    font-size: 1rem;
    background-color:  #f97316;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #ea580c;
}
#qrcodebox {
    margin-top: 1rem;
}
#qrcodeimage {
    max-width: 100%;
    margin-top: 1rem;
}